<form action="/payment/results">

  <label for = "giraffe"> APR </label>
    <input id = "giraffe" type = "text" placeholder = "E.G. 5.52" name = "apr">

 <div> 
  <label for = "cat"> Number of years </label>
    <input id = "cat" type = "text" placeholder = "How many years to repay?" name = "years">
  </div>

  <div>
    <label for = "dog"> Principal </label>
    <input id = "dog" type = "text" placeholder = "How much principal?" name = "pv">
  </div>

  <div>
    <button> Calculate monthly payment </button>
  </div>

</form>
