<form action="/random/results">

  <label for = "giraffe"> Minimum </label>
    <input id = "giraffe" type = "text" placeholder = "E.G. 1.5" name = "user_min">

 <div> 
  <label for = "cat">  Maximum </label>
    <input id = "cat" type = "text" placeholder = "E.G. 4.5" name = "user_max">
  </div>

  <div>
    <button> Pick random number </button>
  </div>

</form>
