<form action="/square_root/results">

  <label for = "giraffe"> Enter a number </label>
  
  
    <input id = "giraffe" type = "text" placeholder = "What number do you want to get the square root for?" name = "number">
  
  <div>
    <button> Calculate square root </button>
  </div>

</form>

